@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto&family=Roboto+Condensed&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  block-size: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #909090;
  padding: 1rem 0;
}

section {
  padding: 4rem 9%;
  max-width: 90vw;
  margin: 0 auto;
}

.heading {
  text-align: center;
  background: #97FB57;
}
.heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #121212;
}
.heading p {
  color: #909090;
  padding-top: 0.7rem;
  font-size: 1.7rem;
}
.heading a {
  color: #909090;
}
.heading a:hover {
  color: #121212;
}

.title {
  font-size: 3rem;
  color: #121212;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.menu {
  display: flex;
}

.home {
  padding: 6px;
  position: relative;
}
.home .slide {
  margin: 0 auto;
  display: flex;
  min-height: 85vh;
  max-width: 100%;
  padding: 2rem 7%;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  display: none;
}
.home .slide.active {
  display: flex;
}
.home #next-slide,
.home #prev-slide {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  line-height: 5.5rem;
  font-size: 4rem;
  color: #121212;
  border: 0.1rem solid #121212;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.home #next-slide:hover,
.home #prev-slide:hover {
  background: #121212;
  color: #fff;
}
.home #prev-slide {
  right: 9rem;
}

.products {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.products .select-catalog {
  display: grid;
  grid-row-gap: 2rem;
}
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  border-radius: 0.5rem;
  text-align: center;
  border: 0.1rem solid #121212;
}
.products .box-container .box:hover .image .icons {
  transform: translateY(0);
}
.products .box-container .box .image {
  overflow: hidden;
  position: relative;
  height: 20rem;
  width: 100%;
}
.products .box-container .box .image .icons {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid #121212;
  transform: translateY(-7rem);
}
.products .box-container .box .image .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #121212;
}
.products .box-container .box .image .icons a:hover {
  background: #121212;
  color: #fff;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .box-container .box .content {
  padding: 1.5rem 0;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #121212;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.about .row .image {
  flex: 1 1 50rem;
}
.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
}
.about .row .content {
  flex: 1 1 42rem;
}
.about .row .content h3 {
  font-style: normal;
  font-size: 2.5rem;
  color: #121212;
  line-height: 1;
}
.about .row .content p {
  font-size: small;
  font-style: normal;
  line-height: 1.5;
  color: #909090;
  padding: 1rem 0;
}
.about .icon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin-top: 2.5rem;
}
.about .icon-container .icons {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #121212;
  text-align: center;
  cursor: pointer;
}
.about .icon-container .icons:hover {
  background: #121212;
}
.about .icon-container .icons:hover img {
  filter: invert(1);
}
.about .icon-container .icons:hover h3 {
  color: #fff;
}
.about .icon-container .icons img {
  height: 7rem;
  margin-bottom: 1rem;
}
.about .icon-container .icons h3 {
  font-size: 1.7rem;
  color: #121212;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.row .info {
  padding-left: 7px;
}
.row .map {
  flex: 1 1 42rem;
  width: 100%;
}

.blogs .box-container {
  display: grid;
}
.blogs .box-container .box {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid #121212;
}
.blogs .box-container .box:hover .image img {
  transform: scale(1.1);
}
.blogs .box-container .box .image {
  width: 100%;
  height: 25rem;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
}
.blogs .box-container .box .content h1 {
  font-size: 2.5rem;
  color: #121212;
  padding-bottom: 15px;
}
.blogs .box-container .box .content h2 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 1.4rem;
  color: #121212;
  text-align: start;
}
.blogs .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #909090;
  padding: 1rem 0;
}
.blogs .box-container .box .content .icons {
  border-top: 0.1rem solid #121212;
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: #909090;
}
.blogs .box-container .box .content .icons a:hover {
  color: #97FB57;
}
.blogs .box-container .box .content .icons a i {
  padding-right: 0.5rem;
  color: #97FB57;
}

.blogs .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid #121212;
}
.blogs .box:hover .image img {
  transform: scale(1.1);
}
.blogs .box .image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.blogs .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box .content {
  padding: 1rem;
}
.blogs .box .content h1 {
  font-size: 2.5rem;
  color: #121212;
  padding-bottom: 5px;
}
.blogs .box .content h2 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #121212;
  text-align: start;
}
.blogs .box .content h3 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 1.4rem;
  color: #121212;
  text-align: start;
}
.blogs .box .content p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #909090;
  padding: 1rem 0;
}
.blogs .box .content .icons {
  border-top: 0.1rem solid #121212;
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .box .content .icons a {
  font-size: 1.4rem;
  color: #909090;
}
.blogs .box .content .icons a:hover {
  color: #97FB57;
}
.blogs .box .content .icons a i {
  padding-right: 0.5rem;
  color: #97FB57;
}

.blog .box-container {
  grid-row-gap: 2px;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 1rem;
  grid-row-gap: 2px;
}
.blog .box-container .box {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.blog .box-container .box .image {
  margin: 0 auto;
  width: 30%;
  height: auto;
  overflow: hidden;
}
.blog .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .box-container .box .content {
  align-items: center;
}
.blog .box-container .box .content h1 {
  font-size: 2.5rem;
  color: #121212;
  padding-top: 30px;
  text-align: center;
}
.blog .box-container .box .content h2 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #121212;
  text-align: center;
}
.blog .box-container .box .content h3 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 1.6rem;
  color: #121212;
  text-align: start;
}
.blog .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #909090;
  padding: 1rem 0;
}
.blog .box-container .box .content ul {
  list-style: disc;
  list-style-position: inside;
}
.blog .box-container .box .content ul li {
  font-size: 1.4rem;
  font-style: normal;
  padding: 0.7rem 0;
}
.blog .box-container .box .content ol {
  list-style: numbers;
  list-style-position: inside;
}
.blog .box-container .box .content ol li {
  font-size: 1.4rem;
  font-style: normal;
  padding: 0.7rem 0;
}
.blog .box-container .box .content .icons {
  border-top: 0.1rem solid #121212;
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: #909090;
}
.blog .box-container .box .content .icons a:hover {
  color: #97FB57;
}
.blog .box-container .box .content .icons a i {
  padding-right: 0.5rem;
  color: #97FB57;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box h3 {
  font-size: 2.2rem;
  color: #121212;
  padding: 1rem 0;
}
.footer .box a {
  display: block;
  font-size: 1.4rem;
  color: #909090;
  padding: 1rem 0;
}
.footer .box a:hover {
  color: green;
}
.footer .box a:hover i {
  padding-right: 2rem;
}
.footer .box a i {
  color: #97FB57;
  padding-right: 0.5rem;
}
.footer .box p {
  font-size: 1.5rem;
  color: #909090;
  margin-bottom: 1rem;
}
.footer .box form input[type=email] {
  width: 100%;
  padding: 1rem 1.2rem;
  background-repeat: 0.5rem;
  background: #eee;
  font-size: 1.6rem;
  text-transform: none;
  margin-bottom: 0.5rem 0;
}

.credits {
  text-align: center;
  padding: 1rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  color: #909090;
  border-top: 0.1rem solid #121212;
}
.credits span {
  color: #97FB57;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0.2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu-mobile {
    position: absolute;
    right: 12px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
  .products {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .blogs .box {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */